! Configuración para el programa de N-cuerpos
.false. ! falso = potencial electromagnetico, verdadero = potencial gravitatorio
15000 ! = pasos numero de pasos a realizar
8.987 ! = k, constante del potencial
1500 ! cantidad de datos que queremos tomar

!!!!!!! Notas !!!!!!!!
1 unidad de distancia = 10^-5 m
1 paso = 10^-3 s
